
@{
    ViewData["Title"] = "Guardar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h1 class="text-center">Guardar</h1>

    </div>
    <div class="card-body">
        <form asp-action="" asp-controller="" method="">
            @*Codigo para realizar uno de los select de esta vista*@
            @*<div class="col-md-4 mb-3">
                <select asp-for="refAutor.IdAutor" class="form-select"
                        asp-items="@(ViewBag.ListaA !=null?new SelectList(ViewBag.ListaA,"Value","Text"):new List<SelectListItem>())">
                    <option value="">Selecione el nombre del autor</option>
                </select>
            </div>*@
            
            
        </form>
    </div>
</div>


