
@{
    ViewData["Title"] = "Listar";
}

<div class="card">
    <div class="card-header">
        <h1 class="text-center">Listar de Autores</h1>
    </div>
    <div class="card-body">
        
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Identificador
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th></th>
                </tr>               
            </thead>
            <tbody>
                @*Cuerpo de la tabla*@
            </tbody>
        </table>
    </div>
</div>

